* {
  margin: 0;
}

.App {
  background-color: rgb(228, 218, 218);
  min-height: 100vh;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 20px;
  justify-content: space-between;
}

.search-form {
  text-align: center;
  padding-top: 20px;
}

.search-bar {
  padding-right: 20px;
  border: none;
  width: 250px;
}

.search-button {
  color: white;
  background-color: rgb(0, 0, 0);
  border: none;
  margin-left: 5px;
}

.search-button:hover {
  color: white;
  background-color: rgb(85, 80, 80);
}
